h1 {
	font-family: "Raleway";
	font-size: 28pt;
	color: #CC0300;
}

h2 {
	font-family: "Raleway";
	font-size: 18pt;
	color: #CC0300;

}

.dashboard-wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	margin: 0 auto;
}

.dashboard-navigation {
	position: absolute;
	height: 10%;
	width: 100%;
	background-color: blue;
	display: block;
}

.dashboard-groups {
	position: absolute;
	display: inline-block;
	height: 90%;
	width: 20%;
	top: 10%;
	background-color: white;
	margin-top: 25px;
	padding-left: 10px;
	border-right: 1px solid #E8E8E8;
}

.dashboard-content {
	position: absolute;
	display: inline-block;
	height: 90%;
	width: 80%;
	top: 10%;
	left: 20%;
	margin-top: 25px;
}

#navigation-home {
	font-family: "Raleway";
	font-size: 24pt;
	height: 90%;
	width: 20%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-align: center;

}

#navigation-link {
	font-family: "Raleway";
	font-size: 18pt;
	height: 90%;
	width: 40%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
} 


.ui.vertical.menu {
	width: 97%;
	font-family: "Raleway";
}

.ui.vertical.menu .item {
	font-size: 14pt;
}

.ui.vertical.menu .active.item {
	box-shadow: none;
	border: 1px solid #CC0300;
	background-color: white;
	border-radius: 0.2857rem;
}

.ui.vertical.menu .active.item:hover {
	background-color: white;
}

.ui.menu .active.item {
	box-shadow: none;
	border: 1px solid #CC0300;
	background-color: white;
	border-radius: 0.2857rem;
}

.ui.menu .active.item:hover {
	box-shadow: none;
	border: 1px solid #CC0300;
	background-color: white;
	border-radius: 0.2857rem;
}


.ui.menu > a.item:hover{
	box-shadow: none;
	background-color: white;
	border-radius: 0.2857rem;
}


.ui.vertical.menu .item:not(.dropdown) > .menu > .item {
	font-size: 12pt;
	vertical-align: middle;

}

#group {
	font-family: "Raleway";
	font-size: 18pt;
	background-color: purple;
	padding: 5px 5px;
}

.chart-container {
	width: 90%;
	margin: 0 auto;
}

/*.athlete-pic {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	overflow: hidden;

}*/

.img-container {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	overflow: hidden;
	display: inline-block;
	float: right;
	border: 1px solid #CC0300;

}

.img-container img {
	width: 100%;
}