

.dashboard-wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	margin: 0 auto;
}

.dashboard-navigation {
	position: absolute;
	height: 15%;
	width: 100%;
	background-color: blue;
	display: block;
}

.dashboard-groups {
	position: absolute;
	display: inline-block;
	height: 85%;
	width: 20%;
	top: 15%;
	background-color: green;
}

.dashboard-content {
	position: absolute;
	display: inline-block;
	height: 85%;
	width: 80%;
	top: 15%;
	left: 20%;
	background-color: yellow;
}

#navigation-home {
	font-family: "Raleway";
	font-size: 28pt;
	height: 100%;
	width: 20%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-align: center;

}

#navigation-link {
	font-family: "Raleway";
	font-size: 20pt;
	height: 100%;
	width: 39.5%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
} 

#group {
	font-family: "Raleway";
	font-size: 18pt;
	background-color: purple;
	padding: 5px 5px;
}

#group:hover {
	background-color: orange;
}