

.dashboard-wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	margin: 0 auto;
}

.dashboard-navigation {
	position: absolute;
	height: 10%;
	width: 100%;
	background-color: blue;
	display: block;
}

.dashboard-groups {
	position: relative;
	display: inline-block;
	height: 90%;
	width: 20%;
	top: 10%;
	background-color: white;
	margin-top: 25px;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #E8E8E8;
	float:left;
	overflow: auto;
}

.dashboard-times {
	position: relative;
	display: inline-block;
	height: 90%;
	width: 20%;
	top: 10%;
	background-color: white;
	margin-top: 25px;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px solid #E8E8E8;
	float: left;
}

.dashboard-content {
	position: absolute;
	display: inline-block;
	height: 90%;
	width: 80%;
	top: 10%;
	left: 20%;
	margin-top: 25px;
}

.dashboard-content-top {
	position: relative;
	display: inline-block;
	height: 40%;
	width: 60%;
	top: 10%;
	float: left;
	margin-top: 25px;
}


#navigation-home {
	font-family: "Raleway";
	font-size: 24pt;
	height: 90%;
	width: 20%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-align: center;

}

#navigation-link {
	font-family: "Raleway";
	font-size: 18pt;
	height: 90%;
	width: 39.5%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;
} 


.ui.vertical.menu {
	width: 90%;
	border-radius: 0px;
}

#group {
	font-family: "Raleway";
	font-size: 18pt;
	background-color: purple;
	padding: 5px 5px;
}
