/*
For general overall style only
*/

body {
/*	background-color: #CC0300;
*/	font-family: "Open Sans";
	color: black;
}

h1 {
	font-family: "Raleway";
	font-size: 28pt;
}

h2 {
	font-family: "Raleway";
	font-size: 18pt;
}

a {
	color: black;
	text-decoration: none;
}

