/*
For general overall style only
*/

body {
	font-family: "Open Sans";
	color: white;
}

h1 {
	font-family: "Raleway";
	font-size: 28pt;
	color: white;

}

h2 {
	font-family: "Raleway";
	font-size: 18pt;
	color: white;

}

a {
	color: black;
	text-decoration: none;
}

#create-account {
	color: #707070;
	text-decoration: none;
}

#login {
/*	border: 1px solid #CC0300;
	background-color: #FFFFFF;
	width: 70%;
	height: 40px;
	font-family: "Open Sans";
	font-size: 12pt;*/
	color: #CC0300;
}

input {
	margin: 2px;
	border: 1px solid #E6E6E6;
	color: #707070;
	width: 70%;
	height: 30px;
	font-family: "Open Sans";
	font-size: 12pt;
	padding: 5px 5px;

}

.wrapper {
    display: table;
    position: absolute;
	background-image: url('../img/concrete_seamless.png');
	background-repeat: repeat;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.login {
    margin: 0 auto;
    width: 30%;
    background-color: #CC0300;
    padding: 10px 10px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #CC0300;
    border-radius: 0.2857rem;
}

#login-title {
	width: 100%;
	border-bottom: 1px solid white;
	padding: 2px 0px;
	text-align: center;
}