html, body {
	height: 100%;
}
.dashboard-wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	margin: 0 auto;
	overflow: auto;
}

.dashboard-navigation {
	width: 100%;
	display: block;
}

.ui.breadcrumb {
  font-family: "Raleway";
  font-size: 14pt;
  color: #CC0300;
  width: 100%;
  margin: .5em 0em;
}

.content-wrapper {
	padding: 10px;
	height: 90%;
}

.dashboard-meets {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 20%;
	float:left;
	overflow: auto;
}

.dashboard-schedule {
	position: relative;
	display: inline-block;
	height: 90%;
	width: 20%;
	background-color: white;
	padding: 0px 5px;
	float: left;
	overflow: auto;
}

.dashboard-content-top {
	position: relative;
	display: inline-block;
	height: 40%;
	width: 60%;
	float: left;
	padding-bottom: 20px;
	overflow: auto;
}

.dashboard-content-bottom {
	position: relative;
	display: inline-block;
	height: 40%;
	width: 60%;
	float: left;
	margin-top: 10px;	
}

.predicted-results-table {
	position:relative;
	float: left;
	width:50%;
}


.predicted-results-graph {
	position: relative;
	float: right;
	width: 50%;
}

#navigation-home {
	font-family: "Raleway";
	font-size: 26pt;
	height: 90%;
	width: 20%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #CC0300;
}

#navigation-link {
	font-family: "Raleway";
	font-size: 18pt;
	height: 90%;
	width: 40%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
} 
.chart-container {
	width: 90%;
	margin: 0 auto;
}

a {
  font-family: "Raleway";
  font-size: 14pt;
  color: #CC0300;
}



.event {
  font-family: "Raleway";
  font-size: 14pt;
  color: #CC0300;
}

.hidden {
	visibility: hidden;
}
