html, body {
	height: 100%;
}

.ui.breadcrumb {
	font-family: "Raleway";
 	font-size: 14pt;
 	color: #CC0300;
  	width: 100%;
	margin-left: 20%; 
	padding: 10px 5px;

}

.content-wrapper {
	margin-top: 6%;
	padding: 0px;
	height: 90%;
}

.dashboard-meets {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 20%;
	float:left;
	overflow: auto;
}

.dashboard-schedule {
	position: relative;
	display: inline-block;
	height: 90%;
	width: 20%;
	background-color: white;
	padding: 0px 5px;
	float: left;
	overflow: auto;
}

.dashboard-content-top {
	position: relative;
	display: inline-block;
	height: 50%;
	width: 60%;
	float: left;
	padding-bottom: 20px;
	overflow: auto;
}

.dashboard-content-bottom {
	position: relative;
	display: inline-block;
	height: 40%;
	width: 50%;
	float: left;
	margin-top: 5px;
	margin-left: 10px;	
}

.predicted-results-table {
	position:relative;
	float: left;
	width:50%;
}


.predicted-results-graph {
	position: relative;
	float: right;
	width: 50%;
}

.dashboard-wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	margin: 0 auto;
	overflow: auto;
}

.dashboard-navigation {
	position: absolute;
	height: 10%;
	width: 100%;
	display: block;
}

.dashboard-main-column {
	position: absolute;
	display: inline-block;
	height: 90%;
	width: 20%;
	top: 9%;
	margin-top: 25px;
	padding-left: 10px;
	padding-top: 20px;
	background-color: #CC0300;

}

.dashboard-content {
	position: absolute;
	display: inline-block;
	height: 90%;
	width: 80%;
	top: 10%;
	left: 20%;
	margin-top: 40px;
}

#navigation-home {
	font-family: "Raleway";
	font-size: 24pt;
	height: 90%;
	width: 20%;
	background-color: #CC0300;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: white;
/*	border-bottom: 1px solid white;
*/}

#navigation-link {
	font-family: "Raleway";
	font-size: 24pt;
	height: 90%;
	width: 40%;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #949494;
	border-bottom: 1px solid #949494;

}

#navigation-link-active {
	font-family: "Raleway";
	font-size: 24pt;
	height: 90%;
	width: 40%;
	background-color: #F7F7F7;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #CC0300;
	border-bottom: 1px solid #949494;

>>>>>>> Stashed changes
}

a#navigation-link:hover {
	font-family: "Raleway";
	font-size: 24pt;
	height: 90%;
	width: 40%;
	background-color: #F7F7F7;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
<<<<<<< Updated upstream
	color: #949494;
	border-bottom: 1px solid #949494;

}

#navigation-link-active {
	font-family: "Raleway";
	font-size: 24pt;
	height: 90%;
	width: 40%;
	background-color: #F7F7F7;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #CC0300;
	border-bottom: 1px solid #949494;

}

a#navigation-link:hover {
	font-family: "Raleway";
	font-size: 24pt;
	height: 90%;
	width: 40%;
	background-color: #F7F7F7;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
=======
>>>>>>> Stashed changes
	color: #CC0300;
	border-bottom: 1px solid #949494;

} 

<<<<<<< Updated upstream
.ui.breadcrumb {
	margin-left: 20%; 
	padding: 10px 5px;
}


=======
.ui.table a {
	font-size: 12pt;
	font-family: "Lato";

}

.ui.table {
	width: 95%;
	margin: 0 auto;
}

#schedule {
	font-size: 10pt;
	width: 100%;
}


#schedule a {
	font-size: 10pt;
}

#schedule tr {
	height: 90%;
}

>>>>>>> Stashed changes
.chart-container {
	width: 90%;
	margin: 0 auto;
}

a {
  font-family: "Raleway";
  font-size: 14pt;
  color: #CC0300;
}

.event {
  font-family: "Raleway";
  font-size: 14pt;
  color: #CC0300;
}

.hidden {
	visibility: none;
}

.ui.menu {
	box-shadow: none;

}

.ui.menu .active.item {
	box-shadow: none;
	color: #CC0300;
}

.ui.menu .active.item:hover {
	box-shadow: none;

}
